.jumbotron
{
    padding-top: 2rem;
    background-color: #a2d9ff;
}

.tempat_materi
{
    padding: 2rem 1rem;
}

.tempat
{
    padding-top: 2rem;
}

.judultambahmateri
{
    padding: 2rem 1rem;
}

.kotakmateri
{
    background-color: #a2d9ff;
}